.container {
  max-width: 1400px;
  margin: 0 auto;

  padding: 20px 0;
  background-color: lightgray;
}

.form {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.buttons {
  display: flex;
  gap: 1vw;
}