.container {
  box-sizing: border-box;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 1em 1em;
  background-color: rgba(0, 128, 0, 0.466);
}

.text {
  padding-left: 1em;
  font-weight: 500;
  margin-top: .5%;
}

.buttons {
  display: flex;
  gap: 10px;
}